* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --white-color: white; 
    --black-color: black;
    --border-color: rgb(38, 253, 38); 
    --purple-color: rgb(204, 93, 204);
    --body-fonts: "Helvetica", "Arial", sans-serif;
    --specific-fonts:'audiowide',Montserrat,'Helvetica';
    --bg-color: #f9f8f8;

}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 15px;
}
.logo{
    height: 65px;
    border-radius: 50%;
    width: 65px;
}
.nav{
    color: var(--white-color);
    background-color: var(--black-color);
display: flex;
justify-content: space-between;
align-items: center;
height: 75px;
padding: 10px;
border: 1px solid var(--border-color);
}
.nav a{
    text-decoration: none;
}
.menu {
    font-size: 20px;
    padding: 10px;
}
.dropdownmenu , #menu-checkbox {
position: absolute;
right: 0%;
top: 75px;
display: none;

}
#menu-checkbox:checked ~ .dropdownmenu {
    display: block;
}
.dropdownitem{
    display: block;
    text-decoration: none;
    color: var(--white-color);
    background-color: black;
    padding: 20px;
    letter-spacing: 2px;
    border: 1px solid var(--border-color);

}
.footer {
    background-color: black;
    padding: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
}
.socials {
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    width: 100vw;
    padding: 5px;
    font-size: 25px;
}
.white {
    display: flex;
    justify-content: center;
    color: var(--white-color);
    padding: 5px;
    border-top: 1px solid var(--white-color);
    margin: 10px auto;
    flex-direction: column;
}