@import '../partials/layout.css';
.current{
    font-size: 10px;
}
.exhibit-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    gap: 20px;
    background-color: var(--site-bg-color-dark);
}
.card-img{
    height: 175px;
    width: 200px;
    border-radius: 10%;
    margin-bottom: 10px;
}
.cardtext {
    padding: 15px;
}
.cards h2 {
    font-size: 16px;
}
.seemore{
    color: black;
    margin-top: 10px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 4px solid var(--border-color);
    border-right: 4px solid var(--border-color);
    background-color: var(--bg-color);
    transition: .2s;
}
.cards:hover{
    transform: scale(1.02);
}
@media (min-width:750px){
    .exhibit-grid{
        grid-template-columns: 1fr 1fr;
    }

}


